* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bba4cf;
  padding: 50px;
}

h1 {
  color: #333;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.description {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
}

div {
  /* border: 2px solid #000; */
  align-items: center;
  /* padding: 20px; */
}

div p {
  text-align: center;
}
img {
  display: block;
  margin: 5% auto;
}
#mood-input, .buttons, .quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
.buttons {
  gap: 10px;
  padding: 10px;
  border: 2px solid #000;
}
